<header class="header">
    <div class="header__content container">
        <div class="header__logo">
            <a href="/"><span>Brit</span><span>lex</span></a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav__ul">
                <li class="header__nav__ul__li"><a href="/">Home</a></li>
                <li class="header__nav__ul__li"><a href="#skills">Skills</a></li>
                <li class="header__nav__ul__li"><a href="#about">About Us</a></li>
                <li class="header__nav__ul__li"><a href="#pricing">Pricing</a></li>
                <li class="header__nav__ul__li"><a href="#contact">Contacts</a></li>
            </ul>
        </nav>
        <button class="header__button">Let's Talk</button>
    </div>
</header>