<section class="section1 container">
	<div class="section1__left">
		<h1 class="section1__left__heading">
			Learn <br />
			Any Foreign Language
		</h1>
		<p class="section1__left__p">
			With our teachers who write a program for each student, you will be able
			to make your first sketch after the first lesson.
		</p>
		<div class="section1__left__button">
			<button id="section1-button" type="button">Get started</button>
		</div>
	</div>
	<div class="section1__right">
		<img
			src="../assets/Learning-languages-bro.png"
			alt="hola Ciao Hello CAO NI MA "
		/>
	</div>
</section>
